/*
__pycache__
!gamdl_cn
!gamdl_cn/downloader
!gamdl_cn/downloader/**
gamdl_cn/downloader/ammuxer/target/
gamdl_cn/downloader/**/__pycache__/
gamdl_cn/ammuxer/
!.gitignore
!.dockerignore
!Dockerfile
!.github
!.github/**
!.python-version
!pyproject.toml
!README.md
!uv.lock
gamdl_cn/*.so
